body {
    font-family: 'Pacifico', cursive;
    padding: 20px;
}

h1 {
    text-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #A2E891;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

h2{
    color: #99948E;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

h3 {
    color: #99948E;
    flex-grow: 0;
    align-items: right;
}

h3:hover {
    cursor: pointer;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.playground-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.playground-container > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
}

#playground {
    height: 50vh;
    overflow-y: scroll;
    font-family: 'Pacifico', cursive; 
}

#playground > div > div > div {
    text-align: center;
    font-size: 2em;
    padding: 0.2em;
    border-radius: 40px;
    color: #99948E;
    display: block;
    margin: 0.5em;
}

#container-a  > div > div{
    box-shadow: -1px -1px 25px 5px rgba(230,218,230,1);   
    transform: translateY(50px);
}

#container-b > div > div { 
    box-shadow: -1px -1px 25px 5px rgba(225,250,247,1);
}

#container-operator > div > div{
    transform: translateY(25px);
}

.button-container {
    justify-content: center;
    min-height: 80px;
    display: flex;
    flex-direction: row;
}

button {
    text-align: center;
    font-size: 2em;
    padding: 0.2em;
    border-radius: 40px;
    border: none;
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
   -webkit-font-smoothing: antialiased;
    transition: 0.3s box-shadow ease-in-out;
    white-space: nowrap;
    background: #A2E891;
    margin: 0.2em;
}

button:hover {
    background: #FFEDAE; 
    box-shadow: 20px 15px 12px rgba(0, 0, 0, 0.1);
}

button:disabled {
    background: lightgrey;
    cursor: none;
    box-shadow: none;
}

.active {
  background: 0 0 0 rgba(162, 232, 145, 0.4);
  box-shadow: 0 0 0 rgba(162, 232, 145, 0.4);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(162, 232, 145, 0.4);
    box-shadow: 0 0 0 0 rgba(162, 232, 145, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}